* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

h1, h2, h6 ,p, li{
    font-family: 'Poppins', sans-serif;
}
/* sidebar */
.section-1 {
    height: 100vh;
    position: relative;
    display: flex; /* Add this line to make the children of .section a flex container */
}

.side-bar1 {
    background-color: black;
    height: 100vh;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    z-index: 9999;
}

.side-bar1 img {
    width: 42px;
    height: auto;
    margin-bottom: 10px; 
    cursor: pointer;
}
.profile-image{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.bottom-arrow{
    border-top: 1px solid #fff;
}

.bottom-arrow {
    position: absolute;
    bottom: 3%; 
}

.main-section {
    flex: 1;
    text-align: center;
    padding: 0 1rem;
}
.bg-image {
    background-image: url('images/bg.png');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: auto; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}
/* Media query for small screens (max-width: 767px) */
@media screen and (max-width: 767px) {
    .bg-image {
        background-size: 50%; /* Adjust the size property as needed */
    }
}
.title h1 {
    font-size: 30px !important;
    font-weight: 600;
    margin-top: 3%;
    color: #002c5b;
}
.input-text p{
    color: #002c5b;
    font-size: 18px;
    font-weight: 700;
}
.input-text input {
    border-radius: 50px;
    border: 1px solid #000;
}
.input-text .form-group input:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #002c5b;
}
.lines {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.line-before,
.line-after {
    flex: 1;
    border: 0.5px solid #002c5b;
    margin: 10px 0;
}
.line-before{
    margin-left: 10%;
    margin-right: 10px;
}
.line-after {
    margin-left: 10px;
    margin-right: 10%;
}
.recent-activity h2{
    font-size: 24px;
    font-weight: 700;
    color: #002c5b;
}
.icons-wrapper{
  gap: 4rem;
  justify-content: center;
  flex-wrap: nowrap !important;
}
.boxes{
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 30px;
    width: 225px;
    border: 0.2px solid #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.boxes:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.boxes h6{
    font-size: 22px;
    font-weight: 700;
    color: #002c5b;
}
.boxes img{
    width: 90px;
}
@media screen and (max-width: 510px) {
  .line-before,
.line-after {
    flex: 1;
    border: 1px solid #002c5b;
    margin: 12px 0;
}
.main-section .title{
margin-top: 8%;
}
}
/* media queries for mobile */
@media screen and (max-width: 980px) {
    .icons-wrapper{
      gap: 2rem;
      flex-wrap: wrap !important;
      justify-content: start;
    }
  
    .boxes h6{
        font-weight: 700;
    }
    .boxes img{
        width: 95px !important;
    }
    .input-text p{
        font-size: 22px !important;
    }
  }
  /* footer */
  .bottom-bar{
    background-color: #002c5b;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .bottom-bar img{
    width: 50px;
  }
  .profile-bar{
    position: relative;
    background-color: #000;
    z-index: 999;
    position: relative;
  }
  .profile-bar .logo img{
    width: 50px;
  }
  .profile-bar .profile-img img{
    width: 40px;
    margin-top: 2px;
  }
  .logout-bar {
    background-color: #002c5b;
    color: white;
    padding: 10px;
    text-align: right;
    position: absolute;
    bottom: -60px;
    width: 100%;
}
.show-profile {
  transform:translateY(0%);
}

.logout-bar h6{
    font-size: 10px;
    color: #fff;
    font-weight: 400    ;
}
  @media screen and (max-width: 580px) {
    .icons-wrapper .boxes{
      width: 140px;
    }
    .profile-bar .logo img{
      margin-left: 30px;
    }
    
    .title h1 {
        margin-top: 40px;
        font-size: 22px !important;
    }
    .boxes h6{
        font-size: 16px;
        font-weight: 700;
    }
  }
  
  body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--trans-02);
  }
  
  body.dark {
    --body-color: #181914;
    --sidebar-color: #242526;
    --primary-color: #34383c;
    --primary-color-light: #383a3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --dark-color: #fff;
  }
  /* Reusable CSS */
  
  .sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    /* transition: var(--trans-04); */
    white-space: unset;
    opacity: 1;
  }
  
  .sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    height: 100vh;
    width: 300px;
    background-color: var(--sidebar-color);
    padding: 10px 14px;
    transition: var(--trans-02);
    background-color: #002c5b;
    transition: width 0.2s ease-in-out;
    z-index: 99;
  }
  
  .sidebar header {
    position: relative;
  }
  .sidebar .image-text img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  
  .sidebar header .image-text {
    display: flex;
    align-items: center;
  }
  
  .sidebar header .toggle {
    position: absolute;
    top: 10%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 20px;
    width: 20px;
    background-color: #002c5b;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
  
  .sidebar li {
    height: 50px;
    /* background-color: red; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .sidebar.close {
    width: 78px;
  }
  
  .sidebar.close .text {
    opacity: 0;
  }
  
  .sidebar.close .toggle {
    transform: translateY(-50%);
    transform: translateX(30%);
    background-color: #000;
  }
  .menu-title h1{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-left: -10%;
    margin-top: 5%;
  }
  .menu .list-item{
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
  .menu .profile{
    margin-top: 8px !important;
    margin-left: 28% !important;
    border-top: 2px solid #fff ;
  }
  .menu .search{
    margin-top: 2% !important;
    margin-left: 28% !important;
    border-top: 2px solid #fff ;
  }
  .menu .home{
    margin-top: 3% !important;
    margin-left: 28% !important;
  }
  .menu .toolkit{
    margin-top: 1% !important;
    margin-left: 28% !important;
  }
  .menu .logout{
    margin-top: 0 !important;
    margin-left: 28%;
    position: absolute;
    bottom: 3.9%;
    border-top: 2px solid #fff ;
    padding-top: .25rem;
    width: 170px;
  }
  @media screen and (max-width: 1024px) {
    .menu .logout{
      margin-top: 75%;
    }
  }



 
 